@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/responsive.scss";

.menu_container {
  overflow-x: auto;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;

  @include lg {
    width: max-content;
    flex: 1;
  }
}

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 0.85rem;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      @include lg {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }

    .active {
      background-color: $soft-bg;
    }
  }
}