@import "/src/assets/styles/variables.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.42rem;
}

.buttons_container {
    display: flex;
    gap: 1rem;
}

.select_container {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 35.7rem;
}

.activated_btn {
    background-color: $soft-bg;
}