@import "/src/assets/styles/variables.scss";

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_wrapper {
    background-color: $main-bg;
    border-radius: 0.4rem;
    position: relative;
    padding: 1rem;
    max-width: 90%;
    min-width: 28.57rem;
}

.close {
    font-size: 1.2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;

    &:hover {
        cursor: pointer;
    }
}

.title {
    font-size: 2rem;
}

.modal_header {
    margin-bottom: 1rem;
}

.modal_content {}